node_modules
# Keep environment variables out of version control
.env

DATABASE_URL="mongodb+srv://nethkavindya:NethMongo@!7@cluster0.xcfdvkv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
CLIENT_URL="http://localhost:5173"